



.allfilmsbutton {

  border-radius: 25px;

  float: left;
  font-weight: 500;
  margin: 0 20px 0 0;
  padding: 10px 20px;
  text-align: center;
  width: 110px;
  cursor: pointer;
  background: #8300ff;
  color: #fff;
}

.formNaviButton {

  color: #ff1d40;
  font-size: 24px;
}

