<div class="sort">
  <select [(ngModel)]="sortStr">
    <option value="" disabled selected>Sort</option>
    <option [value]="'name'" (click)="changeSort()">Sort name</option>
    <option [value]="'year'">Sort year</option>
    <option [value]="'date'">Sort date</option>
  </select>
  <button class="viewButton" (click)="onChangeView()">View</button>
  <input class="searchFilm" type="text" placeholder="Search" [(ngModel)]="searchStr">
</div>


<ng-container *ngIf="films.length; else noFilms">

  <ng-container *ngIf="isThumbs; else listView">
    <div class="allFilm">
      <div *ngFor="let film of films | sort:sortStr:isAsc | search:searchStr; index as i">

        <div class="FilmCard">
          <img class="imgFilmCard" src="{{film.img}}" alt="photo">
          <div>Name: {{film.name}}</div>
          <div>Year: {{film.year}}</div>
          <div>Box office receipts: {{film.cash | number}}</div>
          <div>Date: {{film.date | date: 'dd.MM.yyyy '}}</div>
          <button (click)="deleteFilm(film.id)">delete</button>
          <button (click)="favourite(film)">{{film.isFavorite ? 'Remove from' : 'Add to'}} favourite</button>

        </div>
      </div>
    </div>
  </ng-container>


  <ng-template #listView>
    <div *ngFor="let film of films | sort:sortStr:isAsc | search:searchStr ; index as i">

      <table border="1">

        <tr>
          <th>Img</th>
          <th>Name:</th>
          <th>Year:</th>
          <th>Box office receipts:</th>
          <th>Date:</th>
          <th>favourite:</th>
        </tr>
        <tr>
          <td><img class="imgFilmList" src="{{film.img}}" alt="photo"></td>
          <td>{{film.name}}</td>
          <td>{{film.year}}</td>
          <td>{{film.cash | number}}</td>
          <td>{{film.date | date: 'dd.MM.yyyy '}}</td>
          <td>
            <button (click)="favourite(film)">{{film.isFavorite ? 'Remove from' : 'Add to'}}
              favourite
            </button>
          </td>
        </tr>

      </table>

    </div>
  </ng-template>


</ng-container>

<ng-template #noFilms>
  No films in list!
</ng-template>



