


<div class="sort">
  <select [(ngModel)]="sortStr">
    <option value="" disabled selected>Sort</option>
    <option [value]="'name'">Sort name</option>
    <option [value]="'year'">Sort year</option>
    <option [value]="'date'">Sort date</option>
  </select>
  <button (click)="onChangeView()">View</button>
  <input type="text" placeholder="Search" [(ngModel)]="searchStr">
</div>




<ng-container *ngIf="isThumbs; else listView">

  <div class="allFilm">
    <ng-container *ngFor="let filmTrue of films | sort:sortStr | search:searchStr">

      <div *ngIf="filmTrue.isFavorite">
        <div class="FilmCard">
          <img class="imgFilmCard" src="{{filmTrue.img}}" alt="photo">
          <div>Name:{{filmTrue.name}}</div>
          <div>Year: {{filmTrue.year}}</div>
          <div>Box office receipts: {{filmTrue.cash | number}}</div>
          <div>Date:{{filmTrue.date | date: 'dd.MM.yyyy '}}</div>
          <button (click)="favourite(filmTrue)">Remove from favourite</button>
        </div>
      </div>

    </ng-container>
  </div>
</ng-container>


<ng-template #listView>
  <div *ngFor="let film of films | sort:sortStr | search:searchStr; index as i">


    <ul *ngIf="film.isFavorite">
      <img class="imgFilmList" src="{{film.img}}" alt="photo">
      <li>Name: {{film.name}}</li>
      <li>Year:{{film.year}}</li>
      <li> Box office receipts: {{film.cash | number}}</li>
      <li>Date: {{film.date | date: 'dd.MM.yyyy '}}</li>
      <button (click)="favourite(film)">Remove from favourite</button>
    </ul>


  </div>
</ng-template>







